

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url('/picpic.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  color:whitesmoke;

}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  padding: 2rem;
  font-weight: 700;
  font-family: 'Arial', sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.h1 {
  font-size: 2rem;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

button {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
  background-color: #007BFF;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

button:hover {
  background-color: #0056b3;
}

button:active {
  background-color: #003d80;
  transform: translateY(2px);
}
